@model Ders
@{
    ViewData["Title"] = "EditDers";
}

<h1>Edit Ders </h1>


<form asp-action="EditDers" asp-controller="Ders" method="post">
    <label asp-for="Ders Adý"></label>
    <input asp-for="DersAdý" />
    <label>Dersin Kodu</label>
    <input asp-for="DersKodu" />
    <input type="submit" class="btn btn-success" value="Kaydet" />
</form>
